<!DOCTYPE html>
@{
    ViewData["Title"] = "About";
}
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <!-- Section: Team v.1 -->
    <section class="team-section text-center my-5">
        <h2 class="h1-responsive font-weight-bold my-5">Mission Statement</h2>
        <p>
            People place orders, need things delivered, and have general errands to run all the time,
            but they do not always have the ability, time, or resources they need to complete these goals.
            Our goal is to make shopping easier for everyone. Use oShip to buy your groceries, order a new
            entertainment stand, or even to deliver something from your house to your parents. The sky is
            the limit with oShip.
        </p>
        <br />
        <hr />

        <h2 class="h1-responsive font-weight-bold my-5">Users</h2>
        <p>
            Our general users have the ability to create requests to have items delivered. Up until a
            driver has accepted that request, the user who created it can edit the entire request or
            even delete it. Once a driver has accepted a request, it's there to stay but you can
            always contact the driver with any last minute changes you may have.
        </p>
        <br />
        <p>
            A request is very simple. Of course, the primary focus of a request is the item to be delivered.
            In addition, a request consists of a pickup and drop off address, as well as instructions
            for what to do at each address. The instructions can be used to specify what door to leave the
            requested item at or even what time of day you would like the item picked up or dropped off.
            Finally, if making a request for something you bought online at a store or if you just want to
            make sure the driver knows exactly what you want, you can upload an image to help the driver
            with your request.
        </p>
        <br />
        <hr />

        <h2 class="h1-responsive font-weight-bold my-5">Drivers</h2>
        <p>
            Drivers are what run oShip. Without the drivers the general users can't get their requests.
            Becoming a driver is simple. Create a normal account with oShip and then click the "Become
            Driver" button in the navigation bar. Fill in the requested information and an oShip admin
            will decide whether or not to allow you to become a driver.
        </p>
        <br />
        <p>
            As a driver, you're still able to use all of the normal user features, but you'll also have
            access to two new tabs on the navigation bar. In "Open Requests" you're able to view
            requests that have not been accepted by a driver yet. You'll only be able to see requests
            that contain a zipcode that matches your main address. That way you won't accidentally
            accept a request from the other side of the globe. From the open requests page you can
            view the details of requests and also accept requests, but if you do so you must complete
            the request. There's no going back to the open requests page until your current active
            request is completed. You can view all past and current requests from the "Accepted Requests"
            tab. From this tab you can view the details of a request as well as update the status of a
            request.
        </p>
        <br />
        <p>
            A request's status has five stages. Initially, it is "Awaiting Driver." Once you accept a
            request, the status changes to "Accepted by Driver." The next steps are up to you, as the
            driver, to change. "Awaiting Pickup" is the next status. Change it to this once you're on
            your way to pickup the item(s). Once you have picked up the items, update the status again
            to change it to "Out for Delivery." Finally, once you have successfully delivered the items,
            update the status one final time to "Delivered." Once changed to the final status, you can
            still see the details of a request but can no longer update it.
        </p>
        <br />
        <hr />

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Meet the Team</h2>
        <!-- Section description -->
        <!-- <p class="grey-text w-responsive mx-auto mb-5">

        </p>-->
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/images/anasjpg.jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Anas Milhem</h5>
                <p class="text-uppercase blue-text"><strong>Team Manager</strong></p>
                <p class="grey-text">
                    Currently Studying Computer Science with a minor in Marketing at Eastern Michigan University.
                </p>
            </div>
            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/images/JoshThonnissen_Bio.png" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Josh Thonnisssen </h5>
                <p class="text-uppercase blue-text"><strong>Web developer</strong></p>
                <p class="grey-text">
                    Josh is a Navy veteran turned software developer, he served 11 years in the U.S. Navy Seabees
                    and is graduating from Eastern Michigan University with a degree in Computer Science.
                    He spends his free time playing board games with his family and friends.
                    He welcomes new challenges and tries to enjoy life rather than work it. Oh yeah, and <b>GO BLUE!!!</b>
                </p>
            </div>
            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/images/zafer.jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Zafer Zhourdaji</h5>
                <p class="text-uppercase blue-text"><strong>Software Consultant</strong></p>
                <p class="grey-text">
                    Zafer is graduating from Eastern Michigan University on April 2019 with his B.S.
                    in computer science. He is currently doing his software development internship.
                    He loves learning and exploring new interests, also currently learning piano.
                </p>
            </div>
            <!-- Grid column -->
            <div class="col-lg-3 col-md-6">
                <div class="avatar mx-auto">
                    <img src="~/images/sean.jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Sean Leonard</h5>
                <p class="text-uppercase blue-text"><strong>Backend developer</strong></p>
                <p class="grey-text">
                    Sean is working towards his bachelors degree in computer science at Eastern Michigan University with
                    a minor in simulation, animation, and gaming. He is looking forward to an internship with
                    Consumers Energy over the summer. Sean hopes to one day be a professional game developer.
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="avatar mx-auto">
                    <img src="~/images/mattar.jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Mohammad Mattar</h5>
                <p class="text-uppercase blue-text"><strong>FrontEnd Developer</strong></p>
                <p class="grey-text">
                    Mohammad is a computer science student at Eastern Michigan University, aspiring Javascript Developer and sports/game enthusist

                </p>
            </div>
            <div class="col-lg- col-md-6">
                <div class="avatar mx-auto">
                    <img src="~/images/Gavin.jpg" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Gavin Maier-Denk</h5>
                <p class="text-uppercase blue-text"><strong>Backend developer</strong></p>
                <p class="grey-text">
                    Gavin is a Computer Science major with a minor in Japanese Language. In the future he hopes to work abroad.
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Team v.1 -->
</body>
</html>
