@model List<MyIdentityUser>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">On Demand Delivery</h3>
                    <p>We make delivery fast and easy</p>
                    <p> <a class="btn btn-lg btn-success" asp-action="About">Learn More</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Work how you want, when you want</h3>
                    <p>Sign up to be a driver</p>
                    <p><a class="btn btn-lg btn-success" asp-action="About">Learn More</a></p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <table class="container" style="border-collapse: separate; border-spacing: 20px">
            <tr>
                <th class="text-right" style="width: 50%">
                    <a asp-controller="Accounts" asp-action="Signup" class="btn btn-lg btn-success" style="width: 75%">Sign Up</a>
                </th>
                <th class="text-left" style="width: 50%">
                    <a asp-controller="Accounts" asp-action="Login" class="btn btn-lg btn-success" style="width: 75%">Login</a>
                </th>
            </tr>
        </table>
    }
</div>