@model List<MyIdentityUser>

@{
    ViewData["Title"] = "Home Page";
}

<a href="@Url.Action("IndexAsync","Accounts")">View all accounts currently registered (this is for development purposes only)</a>
<a href="@Url.Action("Create","Request")">Go to create page(this is for development purposes only)</a>
