<p>This is the update page</p>

<form method="post" action='@Url.Action("Update","Request")'>
    <input type="text" name="PickupStreetNumber" placeholder="Pickup Street Number" />
    <input type="text" name="PickupStreetName" placeholder="Pickup Street Name" />
    <input type="text" name="PickupCity" placeholder="Pickup City" />
    <input type="text" name="PickupState" placeholder="Pickup State" />
    <input type="text" name="PickupZipCode" placeholder="Pickup Zip Code" />
    <input type="text" name="DropoffStreetNumber" placeholder="Dropoff Street Number" />
    <input type="text" name="DropoffStreetName" placeholder="Dropoff Street Name" />
    <input type="text" name="DropoffCity" placeholder="Dropoff City" />
    <input type="text" name="DropoffState" placeholder="Dropoff State" />
    <input type="text" name="DropoffZipCode" placeholder="Dropoff Zip Code" />
    <input type="text" name="Item" placeholder="Items to be Delivered" />
    <input type="text" name="PickupInstructions" placeholder="Pickup Instructions" />
    <input type="text" name="DropoffInstructions" placeholder="Dropoff Instructions" />
    <input type="submit" value="Update">
</form>