
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form action="@Url.Action("LoginAsync", "Accounts")" method="post">
    <input type="text" placeholder="username" name="username"/>
    <input type="text" placeholder="password" name="password"/>
    <button type="submit">Login</button>
</form>