
@{
    ViewData["Title"] = "RegisterDriver";
}

<h1>RegisterDriver</h1>

<form action="@Url.Action("RegisterDriverAsync","Accounts")" method="post">
    <input type="text" placeholder="Username" name="Username" />
    <input type="text" placeholder="Password" name="Password" />
    <input type="text" placeholder="LicensePlate" name="LicensePlate"/>
    <input type="submit" />
</form>