
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form action="@Url.Action("RegisterAsync","Accounts")" method="post"> 
    <input type="text" name="username" placeholder="username"/>
    <input type="text" name="password" placeholder="password" />
    <input type="radio" name="role" value="Driver" /> Driver
    <input type="radio" name="role" value="User"/> User
    <button type="submit">Submit</button>

</form>