<meta http-equiv="Refresh" content="3;url=AcceptedRequests" />

@{
    ViewData["Title"] = "Confirm Pickup";
}

<div class="card">
    <div class="card-header">Successful Pickup</div>
    <div class="card-body">
        <p>Request successfully accepted.</p>
    </div>
    <div class="card-footer"></div>

</div>