<meta http-equiv="Refresh" content="3;url=List" />

<p> Request @ViewBag.id successfully deleted.</p>
@ViewBag.request.PickupStreetName
<form action="@Url.Action("List", "Request")">
    <button type="submit">User Home</button>
</form>